/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(255, 254, 254);
  font-size: 18px;
}
/* a partir de aqui es codigo nuevo */
/* Estilos generales para el header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 450px;
  padding-left: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  position: fixed;
  z-index: 200;/* Ajusta el color de fondo según tus necesidades */
}

/* Estilos para la lista de navegación */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Estilos para los elementos de la lista */
li {
  margin-right: 20px; /* Ajusta el espaciado entre elementos según tus necesidades */
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: #333; /* Ajusta el color del texto según tus necesidades */
}

/* Estilos para los iconos en la lista */
li img {
  width: 24px;
  /*Ajustaeltamañodeliconosegúntusnecesidades*/height: 24px;
  margin-left: 10px;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
}


li:nth-child(1) a {
  color: orange; /* Cambia el color a naranja */
}


a:hover {
  text-decoration: underline;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/* Estilos para la sección de la imagen de perfil */

.buttons-container-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttons-container-linkedin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
}

.boton-disponible {
  display: inline-block;
  background-color: #bcedde;
  color: black;
  border-radius: 50px;
  text-decoration: none;
  padding: 5px 15px;
  margin: 15px 1.5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.boton-disponible:hover {
  background-color: #a8d9e9;
}

/* el subtítulo y la imagen deben de estar uno del lado del otro. */
#subtitle {
  text-align: center; /* Alinea el texto al centro */
  margin-top: -55px;
  font-size: 14px;
  cursor: pointer;
}

.profile,
.experience,
.experience-container,
.sobremi-section,
.footer,
.buttons-container2,
.buttons-container3,
.title4,
.works-section {
  margin-left: 300px; /* Centro verticalmente y centrado horizontalmente */

  max-width: 800px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
}

/* ... (otros estilos) ... */
